networks:
  databases:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  mongo_data:
    driver: local

services:

  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - databases

  mongodb:
    container_name: mongodb
    image: mongo:latest
    hostname: mongodb
    volumes:
      - ${BASE_PATH}/scripts/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_ROOT_USER}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_ROOT_PASSWORD}"
      MONGO_INITDB_DATABASE: "${MONGO_DB}"
      MONGO_INITDB_USER: "${MONGO_USER}"
      MONGO_INITDB_PWD: "${MONGO_PASSWORD}"
    ports:
      - 27017:27017
    networks:
      - databases
