name: CI Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Start databases
        uses: hoverkraft-tech/compose-action@v2.5.0
        with:
          compose-file: "./docker-compose.yml"
          services: |
            postgres
            mongodb
          services-log-level: info

      - name: Install packages
        run: npm i

      - name: Setup Prisma
        working-directory: apps/prisma
        run: npx prisma generate && npx prisma db push

      - name: Run tests
        run: npm run test -w apps/mikro-orm -w apps/mongoose -w apps/sequelize -w apps/type-orm -w apps/prisma
        env:
          NODE_ENV: test
