name: CI Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Run docker-compose / Init mongodb
        uses: hoverkraft-tech/compose-action@v2.2.0
        with:
          compose-file: "./docker-compose.yml"
          services: |
            postgres 
            mongodb

      - name: Install Packages
        run: npm i

      - name: Npm run test
        run: npm run test
        env:
          NODE_ENV: test
          POSTGRES_URL: ${{ secrets.POSTGRES_t_URL }}
          MONGO_URL: ${{ secrets.MONGO_t_URL }}
