name: CI Test

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        # Docker Hub image
        image: postgres:alpine
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
#          POSTGRES_DB: test-db
          POSTGRES_PORT: 5432
        ports: ["5432:5432"]
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5




    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Init mongodb
        run: docker-compose -f ./apps/mongoose/docker-compose.yml up -d mongodb

      - name: Install Packages
        run: npm i

      - name: Npm run test
        run: npm run test
        env:
          NODE_ENV: test
          POSTGRES_URL: 'postgres://postgres:password@0.0.0.0:5432/postgres'
          MONGO_URL: 'mongodb://mongodb:mongodb@0.0.0.0:27017/development'

